/* common */
html{
    height: 100%;
}
body {
    font-size: 14px;
    line-height: 22px;
    height: 100%;
	background-color:#efefef;
	
}

img {
    max-width: 100%;
}

.site-header {
    padding-top: 25px;
}


.main-container{
	background-color:#F6F7F8;
}

.separator{
    margin: 50px;
    height: 5px;
    background: #D9DDE2;
    max-width: 600px;
    border-radius: 5px;
}
.sidebar-wrapper .sidebar-inner-wrapper {
    margin-right: -15px;
    margin-left: -15px;
	position:fixed;
	width:25%;
	height:100%;
	background-color:#e5e5e5;
}
.margin-box{
	padding:50px 15px 50px 25px;
}

.list-files {
    list-style: none;
    background:#fff;
    padding-left: 0px;
}
.list-files li{
    padding: 10px 20px;
    /*padding-left: 20px;*/
    /*background: #565d60;*/
	color:#808080;
}
.list-files li p{
    margin-bottom: 0;
}
.list-files li:nth-child(even){
    background:#efefef;
}
/* Site Title */
.title-area {
    text-align: center;
    padding: 36px 0px;
}

.title-area h1 {
    color: #fff;
}
.title-area h1 span{
    font-size: 30px;
}
.site-description {
    font-size: 13px;
    color: #afbbd0;
}

.site-description a {
    color: #b5bfc1;
    text-decoration: none;
}

.site-description a:hover {
    color: #c4cfd1;
}

/* Main Navigation */
.main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
}

.main-menu a:focus,
.main-menu a:hover{
    text-decoration: none;
}

.main-menu-item {
    display: block;
    padding: 14px 28px 12px;
    color: #fff;
}

.main-menu li.active .main-menu-item,
.main-menu-item:hover {
    background: #fff;
	color:#000;
}

.menu-item {
    display: block;
    color: #fff;
    background: #000000;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #565d60;
    font-size: 14px;
    line-height: 24px;
}

.menu-item .glyphicon-chevron-right {
    float: right;
    color: #ced4df;
    margin-top: 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.main-menu li.active .glyphicon-chevron-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-item i {
    float: left;
    /*line-height: inherit;*/
    margin-right: 15px;
    font-size: 19px;
    line-height: 24px;
    width: 22px;
    text-align: center;
}

.sub-menu-item {
    display: block;
    padding: 12px 28px 12px 56px;
    color: #eaeaea;
    cursor: pointer;
    border-bottom: 1px solid #565d60;
    font-size: 14px;
}

.sub-menu > li {
    margin: 0;
}

.sub-menu li:last-child .sub-menu-item {
    border-bottom: 0;
}

.sub-menu .sub-menu-item.active,
.sub-menu-item:hover,
.sub-menu-item:focus{
    text-decoration: none;
    background: #4b5153;
    color: #eaeaea;
}

.sub-menu {
    display: none;
}

.main-menu > li {
    margin: 0;
}

/* content styles */
.page-content {
    /*margin-top: 40px;*/
}
.current{
    background: #fff;
	color:#000;
}

#introduction{
	position:relative;
}
.intro-box{
	padding-top:100px;
}
.intro-box p span i{
    color: gold;
    margin-left: 5px;
}

.page-content > article.hentry {
    display: none;
}

.page-content > article.hentry:first-child{
    display: block;
}

.hentry .entry-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 11px;
}

p.bg-info{
    padding: 15px 20px;
}
p.bg-warning{
    padding: 25px 30px;
}

.tf-link-btn {
    display: block;
    width: 300px;
    height: 51px;
    margin: 15px 0 25px;
    background: url(../common-images/theme-forest.png) left top no-repeat;
}

.tf-link-btn:hover, .tf-link-btn:focus {
    background-position: bottom;
}

code.url{
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
}



.light-border{
    border: 2px solid #dedede;
}

