

#map {
  height:500px;
  border: solid 1px lightgray;
  border-right: none
}

#sidebar {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: flex-start;
  flex-wrap: wrap;
  border: solid 1px lightgray;
  border-left: solid 5px lightgray;
  overflow-y: scroll;
}

#sidebar div {
  width: 100%;
  min-height: 100px;
  border-bottom: solid 1px lightgray;
  padding: 5px 5px 5px 12px;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
}

#sidebar div.active {
  background-color: white;
}

.info-box h3 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.info-box p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
